<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
    </head>
    <body>
        <form action="/" method="POST">
         <label for="username">Name:</label><br>
         <input type="text" id="username" name="username"><br>
         <label for="userpassword">Password:</label><br>
         <input type="password"
         id="password" name="password"><br>
         <label for="confirm_confirm">Confirm Password:</label><br>
         <input type="confirm_password"
         id="comfirm_password" name="confirm_password"><br>


         <label for="gender">Gender:</label><br>

         <select id="gender" name="gender">
         <option value="male">Male</option>
         <option value="female">Female</option>
         <option value="other">Other</option>
         </select><br><br>
         <button type="submit">Submit</button>

        </form>
    </body>
</html>